/* Estilos para o conteúdo principal */
.conteudo {
    flex: 1;
    margin-left: var(--menu-size);
    padding: 2rem;
}

header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--bege);
}

header h2 {
    font-size: 2rem;
    color: var(--vermelho-e);
}

.textos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
}

.card {
    background-color: var(--bege);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card h3 {
    color: var(--vermelho-e);
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.artigo-cientifico {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 2px solid var(--bege);
}

.artigo-cientifico h2 {
    font-size: 1.8rem;
    color: var(--vermelho-e);
    margin-bottom: 1.5rem;
}

.secao {
    margin-bottom: 2.5rem;
}

.secao h3 {
    font-size: 1.5rem;
    color: var(--vermelho-e);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--bege);
}

.secao p {
    margin-bottom: 1rem;
    text-align: justify;
}

.imagem-container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    height: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}




#globe-container {
    width: 100%;
    height: 500px; /* Ajuste a altura conforme necessário */
    position: relative;
}

@media (max-width: 768px) {
    .card {
        padding: 1rem;
    }
    
    .imagem-placeholder {
        height: 200px;
    }
}

@media (max-width: 576px) {
    .conteudo {
        margin-left: 0;
    }
    
    .textos {
        grid-template-columns: 1fr;
    }
    
    .imagem-placeholder {
        height: 150px;
    }
}