.barra {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--menu-size);
    height: 100%;
    background-color: var(--vermelho--c);
    padding-top: 10em;
}

.barra_textos {
    list-style-type: none;
    font-weight: 700;
    padding: 2em;
    line-height: 3em;
}

.textos {
    position: fixed;
    top: 10;

    background-color: var(--bege);
}